@import '~dropzone/dist/dropzone.css';

.link-block-absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.link-above-block-absolute {
  position: relative;
  z-index: 2;
}

.dropzone {
  margin-bottom: 15px;
}

@import '~selectize.js/dist/css/selectize.css';
@import '~selectize.js/dist/css/selectize.bootstrap3.css';
